.root * {
    -fx-base: #000044; 
    /*-fx-accent: lightgrey ;*/
    -fx-default-button: #C0C0C0;
    -fx-focus-color: #C0C0C0;
    -fx-faint-focus-color: #003366;
    -fx-focused-text-base-color : ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 100%
        );
    -fx-focused-mark-color : -fx-focused-text-base-color ;  

    -fx-font-family: verdana;  
}

.button {
    -fx-background-color: white;
    -fx-focus-color: blue;
    -fx-border-color:  #003366;
    -fx-border-width: 2
}
.send-button {
    -fx-text-fill: #000044;
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: #6699CC;
}

.slider .axis {
    -fx-tick-label-fill: #000044;
}

.scroll-bar .increment-button {
  visibility: hidden;
}
.scroll-bar .decrement-button {
  visibility: hidden;
}

.scroll-bar:vertical {
  -fx-background-color: #C0C0C0;
}
.scroll-bar:horizontal {
  -fx-background-color: #C0C0C0;
}

.check-box {
    -fx-text-fill: #000044;
}

.check-box .box {
    -fx-border-color:  #6699CC;
}

.scroll-bar .thumb {
    -fx-background-color: #6699CC;
}

.titled-pane > .title 
{
-fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
-fx-background-insets: 0, 1, 2;
-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane 
{
-fx-text-fill: white;
}

.titled-pane > *.content 
{
-fx-background-color: white;
 }

.goalButton
{
    -fx-text-fill: black;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab-pane .tab:selected
{
    -fx-background-color: #6699cc;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #C0C0C0;
    -fx-font-size: 12px;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #000044;
}

.menu-bar{
  -fx-background-color: #000044;
  -fx-border-color:  #000044;
 -fx-border-width: 2
}

.context-menu {
    -fx-background-color: #003366;
}

.menu .label {
    -fx-text-fill: #C0C0C0;
     -fx-font-size: 20px;
}

.menu-item .label {
  -fx-text-fill: #C0C0C0;
}

.menu-item:focused .label {
  -fx-text-fill: #C0C0C0;
}

.label {
-fx-text-fill: #000044;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #C0C0C0;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}
 
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
.list-cell:empty {
    -fx-background-color: transparent;
}
.tab {
    width: 650px;  
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-alignment: CENTER;
    -fx-text-fill: #C0C0C0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane *.tab-header-background {
    -fx-effect: innershadow(two-pass-box , transparent , 0, 0.0 , 0 , 0);
}

.scroll-pane > .viewport  {
    -fx-background-color: rgb(240,235,255);
    -fx-border-color:  #000044; 
}

.slider .thumb{
    -fx-background-color: grey;
    -fx-border-radius: 10;
    -fx-border-color: #000044;
}

.slider .track{
    -fx-background-color: rgb(20,20,20);
}

.slider .axis .axis-label{
    -fx-text-fill: red;
    -fx-font-size: 6pt;
}


.tablabel {
    width: 650px;  
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-alignment: CENTER;
    -fx-text-fill: #C0C0C0;
    -fx-background-color:#000044 ;
}

/*.button:focused,
.toggle-button:focused,*/
.radio-button:focused > .radio,
.check-box:focused > .box,
.menu-button:focused,
.choice-box:focused,
.color-picker.split-button:focused > .color-picker-label,
.combo-box-base:focused,
.slider:focused .thumb {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.scroll-pane:focused,
.split-pane:focused,
.list-view:focused,
.tree-view:focused,
.html-editor:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.radio-button > .radio, .radio-button:focused > .radio  {   
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */    
    -fx-padding: 0.333333em; /* 4 -- padding from outside edge to the inner black dot */ 
}
.split-menu-button:focused {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border; 
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-background-radius: 3, 3;
}
.split-menu-button:focused > .label {
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 1 0 1 1, 2 1 2 2;
    -fx-background-radius: 2 0 0 2, 1 0 0 1;
    -fx-padding: 0.333333em 0.667em 0.333333em 0.667em; /* 4 8 4 8 */
}
.split-menu-button:focused > .arrow-button {
    -fx-background-color: -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 1, 2;
    -fx-background-radius: 0 2 2 0, 0 1 1 0;
    -fx-padding: 0.5em 0.667em 0.5em 0.667em; /* 6 8 6 8 */
}

.scroll-bar:focused {
    -fx-background-color: derive(-fx-box-border,30%), linear-gradient(to bottom, derive(-fx-base,-3%), derive(-fx-base,5%) 50%, derive(-fx-base,-3%));
    -fx-background-insets: 0, 1 0 1 0;
}
.scroll-bar:vertical:focused {
    -fx-background-color: derive(-fx-box-border,30%), linear-gradient(to right, derive(-fx-base,-3%), derive(-fx-base,5%) 50%, derive(-fx-base,-3%));
    -fx-background-insets: 0, 0 1 0 1;
}

.text-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-prompt-text-fill: red;
}

.text-input {
    -fx-text-fill: white;
}

.text-area:focused .content {
    -fx-background-color:
        linear-gradient(from 0px 0px to 0px 4px, derive(-fx-control-inner-background, -8%), -fx-control-inner-background);
    -fx-background-radius: 2;
}

.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
}

.color-picker.split-button:focused > .arrow-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1 1 1 0, 1, 2;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
}